.background{
    -fx-background-color: #f5f6f7;
}

.this-user{
    -fx-font-family: 'Roboto Condensed';
    -fx-text-fill: #262626;
    -fx-font-size: 17px;
}

.this-role{
    -fx-font-family: 'Roboto Condensed';
    -fx-text-fill: #8a8f9c;
    -fx-font-size: 14px;
}

.menu-opt{
    -fx-font-family: 'Ubuntu';
    -fx-text-fill: #8a8f9c;
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-padding: 10px 15px 10px 20px;
}

.menu-opt.active{
    -fx-background-color: #7c60ff;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.3), 10, 0, 0, 3px);
}

.label-div{
    -fx-font-size: 11px;
    -fx-font-family: 'Roboto Condensed';
    -fx-text-fill: #8a8f9c;
}