<h1>Registro de categorias</h1>

<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categoryService.categorys">
                <td>{{category.name}}</td>
                <td>
                    <a (click)="editCategory(category)" data-toggle="modal" data-target="#exampleModal">editar
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Añadir</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva Categoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm)">
                <div class="form-group">
                    <label >Añadir</label>
                    <input type="hidden" class="form-control" id="id" name="id"  #id="ngModel"
                    [(ngModel)]="categoryService.selectedCategory.id_category">
                    <input type="text" class="form-control" id="name" name="name"  #name="ngModel"
                        [(ngModel)]="categoryService.selectedCategory.name"> 
                    <button type="submit" class="btn btn-primary" >guardar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>