
.background{
    -fx-background-color: #FFFFFF;
    -fx-padding: 25px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.5), 10, 0, 0, 3px);
}

.login-title,
.login-textfield{
    -fx-text-fill: #262626;
}

.login-textfield,
.login-button,
.login-naccount,
.login-signup{
    -fx-font-size: 14px;
}

.login-subtitle,
.login-textfield,
.login-naccount{
    -fx-font-family: 'Ubuntu';
    -fx-font-weight: normal;
}

.login-title{    
    -fx-font-size: 38px;
    -fx-font-family: 'Roboto Condensed Light';
}

.login-subtitle,
.login-label,
.login-naccount{
    -fx-text-fill: #8a8f9c;
}

.login-label,
.login-button{
    -fx-font-family: 'Ubuntu Bold';
}

.login-button,
.login-signup{
    -fx-cursor: hand;
}

.login-subtitle{
    -fx-font-size: 13px;
}

.login-textfield{
    -fx-background-color: #f5f6f7;
    -fx-border-color: #a0a0a0;
    -fx-border-radius: 5px; 
}

.login-textfield.error{
    -fx-border-color: #ff3636;
}

.login-textfield:focused{
    -fx-border-color: #7c60ff;
}

.login-button{
    -fx-background-color: #7c60ff;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5px;
}

.login-signup{
    -fx-font-family: 'Roboto Condensed Bold';
    -fx-text-fill: #7c60ff;
    -fx-outline: none;
}