/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/08/2018, 15:24:50
    Author     : PotatoPower
*/

.background{
    -fx-background-color: #f5f6f7;
}

.title-pane{    
    -fx-font-size: 30px;
    -fx-text-fill: #262626;
    -fx-font-family: 'Roboto Condensed Light';
}

.subtitle-pane{
    -fx-font-family: 'Ubuntu';
    -fx-font-size: 13px;
    -fx-text-fill: #8a8f9c;
}

.btn-primary{
    -fx-font-family: 'Ubuntu Bold';
    -fx-background-color: #7c60ff;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.btn-primary .fa-icon{
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
}

.btn-secondary{
    -fx-font-family: 'Ubuntu Bold';
    -fx-border-color: #7c60ff;
    -fx-border-radius: 5px; 
    -fx-background-color: transparent;
    -fx-text-fill: #7c60ff;
    -fx-cursor: hand;
}

.btn-secondary .fa-icon{
    -fx-text-fill: #7c60ff;
    -fx-font-size: 12px;
}

.btn-default{
    -fx-font-family: 'Ubuntu Bold';
    -fx-border-color: #8a8f9c;
    -fx-border-radius: 5px; 
    -fx-background-color: transparent;
    -fx-text-fill: #8a8f9c;
    -fx-cursor: hand;
}
