.divider
    font-size: 12px
    font-weight: 900
    text-transform: uppercase
    margin-bottom: 10px
    color: #454545

.wordmark-sm
    margin-top: 30px
    margin-bottom: 85px

ul
    margin-bottom: 20px
    padding-left: 15px
    li
        padding: 4px 0
        a
            color: #4C4C4C
            font-size: 14px
            &:hover
                color: #E24647
            i
                margin-right: 10px

.user-box
    position: absolute
    bottom: 20px
    background-color: #E0E0E0
    left: 0
    right: 0
    margin: 0 30px
    padding: 15px 5px 15px 60px
    border-radius: 5px
    img
        position: absolute
        left: 10px
        top: 14px
    span
        display: block
        font-size: 14px
        line-height: 1.2
    .name
        font-weight: 900
    .role
        font-size: 12px