<app-menu></app-menu>
<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="header-content text-right mb-3">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="#" class="notifications"><i class="far fa-bell"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <div class="user-box">
                                <img src="../../assets/images/user-img.png" alt="User Image">
                                <span class="name">Ashley Doe</span>
                                <span class="role">Administrador</span>
                            </div>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>


