<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <table class="table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Cantidad</th>
            <th>P. Unitario</th>
            <th>P. Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.cartService.cart">
            <td>{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.cant }}</td>
            <td>${{ item.pu | number: '1.2' }}</td>
            <td>${{ item.pt | number: '1.2' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="totals text-right">
        <p>Subtotal: {{ totalCart | number: '1.2-2' }}</p>
        <p>IVA: {{ taxCart | number: '1.2-2' }}</p>
        <p>Total: {{ totalCart + taxCart | number: '1.2-2' }}</p>
      </div>

      <div class="custom-control custom-checkbox">
        <input (click)="toggleShip(checkbox)" #checkbox type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Envío</label>
      </div>

      <div *ngIf="hasShip" class="ship-content">
        <h2>Datos de Envío</h2>
        <form action=""> 
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                  <label for="">Cliente</label>
                  <input type="text" class="form-control" placeholder="" value="{{ account.Person.first_name +' '+ account.Person.last_name }}" readonly>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                  <label for="">Identificación</label>
                  <input type="text" class="form-control" placeholder="" value="{{ account.Person.dni }}" readonly>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="">Nro. Telefono</label>
                <input type="text" class="form-control" placeholder="" value="{{ account.phone_number }}" readonly>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="">Ciudad</label>
                <select name="" id="" class="form-control" #city="ngModel" [(ngModel)]="shipping.city" [ngModelOptions]="{standalone: true}">
                  <option value="" selected disabled>Seleccionar la cuidad</option>
                  <option value="Loja">Loja</option>
                  <option value="Santo Domingo">Santo Domingo</option>
                  <option value="Quito">Quito</option>
                </select>
              </div>
            </div>
          </div>       
          
          <div class="form-group">
            <label for="">Dirección de Envío</label>
            <textarea #address="ngModel" [(ngModel)]="shipping.address" [ngModelOptions]="{standalone: true}" class="form-control" name="" id="" cols="30" rows="5"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
          <input (change)="tooglePayment(radio1)" #radio1 id="radio_1" type="radio" name="payment_type" class="custom-control-input" value="card" checked>
          <label class="custom-control-label" for="radio_1">Tarjeta de Crédito</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input (change)="tooglePayment(radio2)" #radio2 id="radio_2" type="radio" name="payment_type" class="custom-control-input" value="deposit">
          <label class="custom-control-label" for="radio_2">Depósito Bancario</label>
        </div>
      </div>
      <form *ngIf="isCard" novalidate (ngSubmit)="buy()" [formGroup]="stripeForm">
        <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
        <button type="submit" class="btn btn-primary">
          {{ (!isLoading) ? 'Procesar Compra':'Procesando...' }}
        </button>
        <a routerLink="/" class="btn btn-warning ml-3">Regresar a la tienda</a>
      </form>
      <form *ngIf="!isCard" (ngSubmit)="buy()">
          <button type="submit" class="btn btn-primary">
              {{ (!isLoading) ? 'Procesar Compra':'Procesando...' }}
          </button>
          <a routerLink="/" class="btn btn-warning ml-3">Regresar a la tienda</a>
      </form>
    </div>
  </div>
</div>
<app-alerts></app-alerts>