<div class="container">

  <div class="row">
    
    <table class="table">
      <thead>
        <th>Numero de orden</th>
        <th>Impuesto</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor = "let order of ordersService.orders " >
          <td>{{ order.num_order }}</td>
          <td>{{ order.tax }}</td>
          <td>{{ order.total }}</td>
          <td>{{ order.state }}</td>
          <td>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



