<div class="container">

  <div class="row">
    
    <table class="table">
      <thead>
        <th>Numero de orden</th>
        <th>Impuesto</th>
        <th>Total</th>
        <th>Estado</th>
       
      </thead>
      <tbody>
        <tr *ngFor = "let order of ordersService.orders | let i = index" >
          <td>{{ i+1 }}</td>
          <td>{{ order.tax }}</td>
          <td>{{ order.total }}</td>
          <td>{{ order.state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



